*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
}

:root{
    --light-blue: #B4D0E7;
    --color-blue: #0061FF;
    --color-green: #A2D39B;
    --color-bordeau:#61082B;
    --color-water-blue:#0093CE;
    --color-scarlet:#D5001F;
    --color-cloudy-blue:#B4D0E7;
    --color-dark-blue:#0D2481;
    --color-gold:#FFD830;
    --color-red:#FF1C1C;
    --color-gray: #F5F5F5;
}

.bg-gray{
    background-color: var(--color-gray);    
}

.bg-green {
    background-color: var(--color-green);
}

.bg-bordeau {
    background-color: var(--color-bordeau);
}

.bg-water-blue {
    background-color: var(--color-water-blue);
}

.bg-scarlet {
    background-color: var(--color-scarlet);
}

.bg-cloudy-blue {
    background-color: var(--color-cloudy-blue);
}

.bg-dark-blue {
    background-color: var(--color-dark-blue);
}

.bg-gold {
    background-color: var(--color-gold);
}

.bg-red {
    background-color: var(--color-red);
}


.text-big{
    font-size: 2.8rem;
}

.debug{
    border: 1px solid red;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
}

h1{
    padding: 0;
    margin: 0;
}


/* Colors */
.bg-light-blue{
    background-color: var(--light-blue);
}

/* Flexbox */
.d-flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}

.d-column{
    display: flex;
    flex-direction: column;
}

.gap15{
    gap: 15px;
}

.gap45{
    gap: 45px;
}



header{
    height: 70px;
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-small{
    max-width: 1000px;
    margin: 0 auto;
}

.padding25{
    padding: 0 25px;
}

.padding-L20{
    padding-left: 20px;
}

.padding-T5{
    padding-top: 5px;
}

.padding-T15{
    padding-top: 15px;
}
.padding-T20{
    padding-top: 20px;
}

.padding-T50{
    padding-top: 50px;
}

.margin-T50{
    margin-top: 50px;
}

.padding-T30{
    padding-top: 30px;
}

.padding-B30{
    padding-bottom: 30px;
}

.padding-B50{
    padding-bottom: 50px;
}

.padding-T100{
    padding-top: 100px;
}

.margin-T100{
    margin-top: 100px;
}

section>h1{
    font-size: 4rem;
    margin-bottom: 15px;
    width: 80%;
}

#jumbo-text{
    width: 80%;
}

#jumbo-text-image{
    position: relative;
    top: 60px;
}

.font-big{
    font-size: 2.5rem;
}

.button-blue{
    background-color: var(--color-blue);
    color: white;
    width: 60%;
    text-align: center;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
}

.inline-block{
    display: inline-block;
}

.border-col{
    border: 1px solid #afafaf;
    width: calc((100% - 30px)/3);
}

.border{
    border: 1px solid #afafaf;
}

.border-bottom{
    border-bottom: 1px solid #afafaf;
}
    



.plan-header{
    border-bottom: 1px solid #afafaf;
    text-align: center;
    line-height: 50px;
}

.box-title-height, .plan-header{
    height: 50px;
}

.column-content-size{
    width: 80%;
    margin: 0 auto;
}

hr{
    width: 30%;
    color: #afafaf;
}

.cl-blue{
    color: var(--color-blue);
}

.column-content-size > div:has(a.button-blue){
    display: block;
    width: 100%;
}

.width100{
    width: 100%;
}

#enterprise-text{
    width: 85%;
}

#enterprise-button{
    width: 30%;
    height: 40px;
    margin-left: 25px;
    margin-top: 30px;
}

#image-partner{
    width: 30%;
}

#text-partner{
    width: 70%;
}

#text-partner>a{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.aspect-ratio-1{
    aspect-ratio: 1 / 1;
    width: 320px;
}

.client-logo{
    width: 60%;
    height: auto;
}

.cl-invert{
    filter: invert(100%);
}

.logo-column{
    width: calc(100%/3);
}
